* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


.center{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 2%;
    display: flex;
    flex-wrap:wrap;
    text-align: center;
}



header{
    background-color: white;
    padding: 20px 0;
 border-bottom: 2px solid #3a89c9;

}

footer {
    width: 100vw;
    height: 15vh; 
    background-color: white;
    color: #3a89c9;
    border-bottom: 1px solid #3a89c9;
    padding: 3%;
    text-align: center;
    margin-top: 0px;


}

.logo{
    color:#3a89c9;
}

.logo h2{
    font-weight: normal;
    font-size: 19px;
    margin-top: 20px;
}
.menu{
    width: 100vw;
    text-align: right;
    
}
.menu a{
    color:#124265;
    font-size: 15px;
    text-decoration: none;
    margin-right: 20px;

}

.menu a:hover{
    color: #007bff;
    
}

.menu .botton_menu{
    background-color: #007bff;
    display: inline-block;
    padding:6px 9px;
    color:white;
    border-radius: 12px;
}

.menu .botton_menu:hover{
    background-color:#124265;
    color: white;
   
}



section.main{
    background-image: url(img/fundo.jpg);
    padding: 80px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.main_cta{
    width: 100%;
    text-align: center;
  }

.main_cta h2{
    color:#124265;
    font-size: 40px;
}

.main_cta  p{
    color:gray;
    font-size: 17px;
    margin: 10px 0;
}

.main_cta button{
    background-color: #007bff;
    display: inline-block;
    padding:6px 12px;
    color:white;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}

.diferenciais{
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
}

.dif_single{
    border-radius: 11px;
    background-color: white;
    width: 20vw;
    margin-right: 10%;
    padding: 50px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dif_single i{
    color:#124265;
    font-size: 20px;
}

.dif_single h2{
    color:#124265;
    margin: 10px 0;
    font-size: 20px;
}


.dif_single p{
    color: gray;
    font-size: 14px;
}


/*Responsivo*/

@media screen and (max-width:768px){
    .dif_single{
        width:100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1000px){
   footer{
    height: 10vh;
    margin-top: 90px;
   }

   section.main{
    height: 70vh;
   }
}

@media screen and (max-width:550px){
    header{
        margin-top: -30px;
    }

    footer{
        height: 15vh;
        margin-top: 50px;
       
       }

       footer p{
       margin-top: 10px;
       }

       section.main{
        height: 150vh;
       }
 }


 @media screen and (max-width:450px){

    footer{
        margin-top: -100px;
       
    }
  
 }

 @media screen and (max-width:380px){
    section.main{
        height: 170vh;
    }
    footer{
        height: 25vh;
        margin-top: 50px;
       
       }
 }

 
 

/*
.text-align {
    text-align: center;
}

.container {
    width: 60vw;
    height: 20vh;
    margin: 5px 2px;

}

.header {

    width: 150vw;
    height: 10vh;
    margin: auto;
    padding: 15px 1px;
    background-color: #3a89c9;
    position: fixed;



}

.header2 {

    width: 49vw;
    height: 10vh;
    padding: 20px 10px;
    border: 2px solid #000;
    background-color: rgb(210, 210, 226);
    text-align: center;
    border-radius: 11px;
    margin: 0px 7px 8px;

}



main {
    width: 80vw;
    height: 250vh;
    display: flex;
    background-color: white;



}

footer {
    width: 100vw;
    height: 10vh;
    background-color: #3a89c9;
    color: #eee;
    padding: 3%;
    text-align: center;
    margin-top: 900px;

}





.section2 {
    width: 49vw;
    height: 50vh;
    border: 2px solid #000;
    margin: auto;
    float: right;
    margin-right: 50px;
    background-color: #000;
    border-radius: 13px;

}


.fa-eye {
    position: absolute;
    top: 13px;
    cursor: pointer;
}



.form {
    padding: 40px;
    margin-right: 130px;

}



.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: white;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: blue;
    border: 2px solid #eee;
    color: #fff;
    font-size: 14px;
    width: 40%;
    border-radius: 10px;
    padding: 5px;
    margin: 2px 180px;
}

/* Error and Success */
/*
.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;


}





body {
    overflow-y: scroll;
    font-family: Montserrat, sans-serif;



}




.logo {
    width: 50%;

}

.menu {
    width: 160vw;
    padding-top: 20px;
    text-align: center;
    margin: 0px 50px;

}


.menu a {

    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    padding:70px;


}


.menu2 {
    width: 160vw;
    padding-top: 0px;
    padding: 0px;
    margin-top: -2vh;
    text-align: right;
    margin-right: 0px;


}

.menu2 a {

    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    margin-top: 0vh;





}

.section {

    width:50vw;
    height:20vh;
    margin: auto;
    text-align: center;
    border: 2px solid #000;
    margin-top: 500px;


}

.campo1 {
    width: 100vw;
    height: 40vh;
    text-align: center;
    float: left;
    margin-left: -1200px;
    margin-top: 1500px;


}
.campo2 {
    width: 90vw;
    height: 40vh;
    text-align: center;
    margin: auto;
    margin-top: 650px;
    float: left;
    margin-left: -1700px;
    


}

.aside {
   
    float: right;
    margin-right: 250px;
    font-weight: 400;
    font-style: italic;
    color: rgb(34, 36, 40);
    display: initial;
    font-family: Montserrat;
    height: 30vh;
    width:12vw;
    margin-top: 50px;



}
.section_ini{
    width: 40vw;
    padding-left: 210vh;
    height: 50vh;
    margin-top: 79px;
    background-image: url(img/section4.webp);
    background-size: 100% 100%;
}   

.aside2 {
    float: left;
    margin-left: 310px;
    font-weight: 400;
    font-style: italic;
    color: rgb(34, 36, 40);
    display: initial;
    font-family: Montserrat;
    height: 30vh;
    width: 12vw;
    margin-top: 100px;



}




   @media screen and (max-width: 1350px){
    .aside2{
        float: left;
        margin-left: 200px;
    }
    .aside{
     float:right ;
     margin-right: 100px;   
    }
   }

   @media screen and (max-width: 1110px){
    .header{
     width:150vw;
     padding: 5px;
     float: left;
     margin-left: -210px;
    }
    .aside2{
        float: left;
        margin-left: 200px;
    }
    .aside{
     float:right ;
     margin-right: 200px; 
     padding:0px; 
     word-spacing: 10px; 
    }
    .campo2 {
     float: left;
     margin-left: -1000px;
     margin-top: 390px;
    }
    .campo1{
        float: left;
        margin-left: -580px;
        padding: 40px;
    }
    footer{
        height: 20vh;
    }
  }
  